[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory= /home/ubuntu/app/src/FastAPI
Environment="PATH=/home/ubuntu/app/src/FastAPI/venv/bin"
EnvironmentFile=/home/ubuntu/app/src/FastAPI/.env
ExecStart=/home/ubuntu/app/src/FastAPI/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
